/* -------- HERO ----------*/

.Home__hero {
	background-color: #bee5d3;
}

.Home__hero_container {
  align-items: center;
  background-color: #bee5d3;
  display: grid;
  grid-template-columns: 2fr 40%;
  height: 90vh;
}

.Home__hero-content h1 {
	font-size: 2.5rem;
  color: #312c51;
}

.Home__hero-content-buttons {
  margin-top: 2rem;
}

.Home__hero-content-buttons b {
  color: white;
}

.Home__hero-image img {
  width: 100%;
  object-fit: cover;
}

.custom-shape-divider-top-1612197622 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1612197622 svg {
  display: block;
  width: calc(135% + 1.3px);
  height: 103px;
}

.custom-shape-divider-top-1612197622 .shape-fill {
  fill: #bee5d3;
}

@media screen and (max-width: 1180px) {
  .Home__hero-content h1 {
    font-size: 2.1rem;
  }

  .hero-content-button {
    font-size: .8rem;
  }
}

@media screen and (max-width: 767px) {
  .Home__hero_container {
    height: auto;
    grid-template-columns: 1fr;
  }

  .Home__hero-content-buttons {
    margin-bottom: 2rem;
  }

  .Home__hero-image  {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  .Home__hero-content h1 {
    font-size: 1.8rem;
  }

  .Home__hero-content-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content-button {
    margin: .5rem;
  }
}

@media screen and (max-width: 400px) {
  .Home__hero-content h1 {
    font-size: 1.5rem;
  }
}

/* -------- ABOUT ----------*/

.Home__about_container {
  display: grid;
  grid-template-columns: 40% 1fr;
  margin: 3rem 0 3rem;
  align-items: center;
  grid-gap: 4rem;
  height: 90vh;
} 

.Home__about-info {
  grid-column: 2/3;
}

.Home__about-info h2 {
  padding: .5rem;
  color: #312c51;
  border: 3px solid #312c51;
  width: max-content;
  font-size: 2rem;
  margin-bottom: 2rem;
  box-shadow: 17px 15px 0px 5px #6C63FF;
}

.Home__about-image {
  grid-column: 1/2;
  grid-row: 1/2;
}

.Home__about-image img {
  width: 100%;
  object-fit: cover;
}

.Home__about-info p {
  font-size: 1.2rem;
}

/*-------- JOIN -------------*/

.Home__join {
  background-color: #bee5d3;
}

.Home__join_container {
  display: grid;
  justify-items: center;
  grid-auto-flow: row;
  align-items: center;
  grid-gap: 1rem;
  background-color: #bee5d3;
  padding: 2rem;
}

.Home__join h2 {
  font-size: 2rem;
}

.Home__join p {
  font-size: 1.2rem;
}

.Home__join-button {
  margin-bottom: 1rem;
}

.Home__join-button a {
  width: 100%;
}

