.Home__hero {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #bee5d3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.Home__hero h1 {
	font-size: 2.5rem;
  color: #312c51;
}

.Home__hero-content-buttons {
  margin-top: 2rem;
}

.Home__hero-image img {
  width: 850px;
}

.custom-shape-divider-top-1612197622 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1612197622 svg {
  display: block;
  width: calc(135% + 1.3px);
  height: 103px;
}

.custom-shape-divider-top-1612197622 .shape-fill {
  fill: #bee5d3;
}