@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
  color: #312c51;
}

.box-wrapper {
  display: grid;
  grid-template-columns: 80vw;
  justify-content: center;
}

.primary-btn {
  color: white;
  background: #6C63FF;
  padding: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  border-radius: 5px;
}

.secundary-btn {
  border: 2px solid #6C63FF;
  color: #6C63FF;
  font-weight: bold;
  padding: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  border-radius: 5px;
}

.marg-t {
  margin-top: 1rem;
}